<footer>
  <div class="footer">
  <p><%= current_year %>, Ушаков Алексей, <%= github_url('Alexcey', 'TestGuru') %>
    - платформа для создания, редактирования и выполнения тестов.</p>
  <p>Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://www.thinknetica.com/', target: '_blank' %>.</p>
</div>
</footer>
