<div class="navbar-fixed-bottom row-fluid">
  <div class="navbar-inner">
    <div class="container">
      <small>
        <%= current_year %>, Ушаков Алексей, <%= github_url('Alexcey', 'TestGuru') %><br>
          - платформа для создания, редактирования и выполнения тестов.<br>
        Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'http://www.thinknetica.com/', target: '_blank' %>.<br>
      </small>
    </div>
  </div>
</div>